/* New styles for the problem box */
.problem-box {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 50px auto; /* Center the problem box on the page */
    width: 70%; /* Adjust the width as needed */
  }

  .problem-heading {
    font-size: 1.8rem;
    font-weight: bold;
    color: #2d3748;
    text-align: center;
    margin-bottom: 10px;
  }

  /* Add space between each problem in the problem box */
  .question-list li {
    margin-bottom: 10px;
  }

  /* Tagline styles */
  .tagline {
    font-size: 1.2rem;
    color: #4a5568;
    text-align: center;
    margin-top: 20px;
  }
  .new {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }